# The world opinion in one place https://github.com/github/gitignore/blob/master/Rails.gitignore

# Ignore bundler config
/.bundle

#Ignore the default SQLite database
/db/*.sqlite3

# Ignore all logfiles and tempfiles
/log/*.log
/tmp

# Ignore other unneed siles
doc/
*.swp
*~
.project
.DS_Store
